@import url("styles/header.css");
@import url("styles/intro.css");
@import url("styles/intro-companys.css");

:root {
    --font: 'Raleway';
    --font-size-small: 16px;
    --font-size-medium: 20px;
    --font-size-large: 36px;
    --white: #fff;
    --Blue: #2A4AF4;
    --Orange: #DF8600;
    --purple-100: #9694E7;
    --purple-300: #5F65F4;
    --purple-500: #1F1D2C;
    --purple-700: #171420;
    --purple-900: #181420;
    --grey-200: #9B9B9B;
    --grey-500: #5C5C5C;
}

body {
    font-family: var(--font);
    font-weight: 500;
    background-color: var(--purple-700);
    color: var(--white);
}

/*==========Text_Components==========*/

.section__title {
    color: var(--Blue);
    font-size: var(--font-size-medium);
    font-weight: 600;
    text-transform: uppercase;
}

.section__subtitle {
    color: var(--white);
    font-size: var(--font-size-large);
    font-weight: 700;
    line-height: 120%;
}

.section__description {
    color: var(--grey-200);
    font-size: var(--font-size-small);
    font-weight: 500;
    line-height: 169%;
    text-align: justify;
}

/*==========Buttons==========*/

.prirmary__button,
.secundary__button {
    display: flex;
    font-weight: 600;
    color: var(--white);
    text-decoration: none;
    font-size: var(--font-size-small);
    justify-content: center;
    align-items: center;
}

.prirmary__button {
    width: 9.25rem;
    height: 3.87rem;
    background-color: var(--purple-300);
}

.secundary__button {
    width: 9rem;
    height: 3.62rem;
    background-color: transparent;
    border: 2px solid var(--white);
}

/*============================*/